<!DOCTYPE html>
<html>
<head>
    <title>Flask Variable to JavaScript Loop Table</title>
</head>
<style>
table, th, td {
  border:1px solid black;
  text-align : center;
}
th{
background-color: #04AA6D;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align : center;  
}
</style>
<body>
    <h1>List of Articles</h1>
	<br>
	<br>
    <table class="center">
        <thead>
            <tr>
                <th>Article Name</th>
            </tr>
        </thead>
        <tbody>
            {% for index in range(name|length) %}
            <tr>
                <td><a href="{{ url_for('details', abstract=abstract[index], updated=updated[index], url=url[index], index=index) }}">{{ name[index] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>